# Toronto Historical Weather from [link](https://climate.weather.gc.ca/)

## Documentation for links can be found [here](ftp://client_climate@ftp.tor.ec.gc.ca/Pub/)
- more specifically [here](ftp://client_climate@ftp.tor.ec.gc.ca/Pub/Get_More_Data_Plus_de_donnees/Readme.txt)
- go to this [folder](ftp://client_climate@ftp.tor.ec.gc.ca/Pub/Get_More_Data_Plus_de_donnees/) for more info
___

## Here is the Readme.txt

Readme.txt

URL based procedure to automatically download data in bulk from Climate Website
(http://www.climate.weather.gc.ca)
Version: 2016-05-10

----------------------------------------
ENVIRONMENT AND CLIMATE CHANGE CANADA


To read this file online, please visit:
ftp://client_climate@ftp.tor.ec.gc.ca/Pub/Get_More_Data_Plus_de_donnees/ 

Folder: Get_More_Data_Plus_de_donnees > Readme.txt

Instructions on how to download all weather data for one station from Environment and Climate Change Canada's Climate website: 

A daily updated list of Climate stations in the National Archive, including their Climate ID, Station ID, WMO ID, TC ID, and co-ordinates can be found in the following folder:  
Get_More_Data_Plus_de_donnees > Station Inventory EN.csv

Use the following utility to download data: 
• wget (GNU / Linux Operating systems)
• Cygwin (Windows Operating systems) https://www.cygwin.com
• Homebrew (OS X - Apple)  http://brew.sh/
Example to download all available hourly data for Yellowknife A, from 1998 to 2008, in .csv format


Command line:  

for year in `seq 1998 2008`;do for month in `seq 1 12`;do wget --content-disposition "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=${year}&Month=${month}&Day=14&timeframe=1&submit= Download+Data" ;done;done


WHERE; 
• year = change values in command line (`seq 1998 2008)
• month = change values in command line (`seq 1 12)
• format= [csv|xml]: the format output
• timeframe = 1: for hourly data 
• timeframe = 2: for daily data 
• timeframe = 3 for monthly data 
• Day: the value of the "day" variable is not used and can be an arbitrary value 
• For another station, change the value of the variable stationID
• For the data in XML format, change the value of the variable format to xml in the URL. 

For information in French, change Download+Data with ++T%C3%A9l%C3%A9charger+%0D%0Ades+donn%C3%A9es, also change _e with _f in the url.


For questions or concerns please contact our National Climate Services office at: 
ec.services.climatiques-climate.services.ec@canada.ca 
___

## One can use the following command lines to obtain data for different frequencies using wget module

Hourly data interval:

for year in `seq 1998 2008`;do for month in `seq 1 12`;do wget --content-disposition "https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=${year}&Month=${month}&Day=14&timeframe=1&submit= Download+Data" ;done;done

Daily data interval:

for year in `seq 1998 2008`;do for month in `seq 1 1`;do wget --content-disposition "https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=${year}&Month=${month}&Day=14&timeframe=2&submit= Download+Data" ;done;done

Monthly data interval (specific time period):

for year in `seq 1998 2008`;do for month in `seq 1 12`;do wget --content-disposition "https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=${year}&Month=${month}&Day=14&timeframe=3&submit= Download+Data" ;done;done

Monthly data interval (station complete history):

for year in `seq 1998 2008`;do for month in `seq 1 1`;do wget --content-disposition "https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=1706&Year=${year}&Month=${month}&Day=14&timeframe=3&submit= Download+Data" ;done;done
___

## I will be using python requests library to obtain the toronto weather station .csv files and pandas to save them locally

In [1]:
import numpy as np
np.__version__

'1.18.1'

In [2]:
import pandas as pd
pd.__version__

'1.0.1'

In [3]:
import matplotlib
matplotlib.__version__

'3.1.3'

In [4]:
import matplotlib.pyplot as plt

In [5]:
%matplotlib inline

In [6]:
import requests
import os
import pprint as pp
import io
import time

In [7]:
# check to see if folder toronto_weather exists
DIRECTORY = 'toronto_weather'
CHECK_FOLDER = os.path.isdir(DIRECTORY)

# If folder doesn't exist, then create it.
if not CHECK_FOLDER:
    os.makedirs(DIRECTORY)
else:
    print("Folder exists")

Folder exists

In [8]:
# get base file path to save files
file_path = os.path.join(os.getcwd(), DIRECTORY)

In [9]:
# station inventory list url
URL_Stations = r"ftp://client_climate@ftp.tor.ec.gc.ca/Pub/Get_More_Data_Plus_de_donnees/Station%20Inventory%20EN.csv"

# read the csv into pandas
df_stations = pd.read_csv(URL_Stations, skiprows=3)

# get the file path to save the inventory
station_list_file_path = os.path.join(file_path, "Canada_Weather_Station_Inventory.csv")

# save the inventory
df_stations.to_csv(station_list_file_path, index=False)
df_stations

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,ACTIVE PASS,BRITISH COLUMBIA,1010066,14,NaN,NaN,48.87,-123.28,485200000,-1231700000,4.0,1984,1996,NaN,NaN,1984.0,1996.0,1984.0,1996.0
1,ALBERT HEAD,BRITISH COLUMBIA,1010235,15,NaN,NaN,48.40,-123.48,482400000,-1232900000,17.0,1971,1995,NaN,NaN,1971.0,1995.0,1971.0,1995.0
2,BAMBERTON OCEAN CEMENT,BRITISH COLUMBIA,1010595,16,NaN,NaN,48.58,-123.52,483500000,-1233100000,85.3,1961,1980,NaN,NaN,1961.0,1980.0,1961.0,1980.0
3,BEAR CREEK,BRITISH COLUMBIA,1010720,17,NaN,NaN,48.50,-124.00,483000000,-1240000000,350.5,1910,1971,NaN,NaN,1910.0,1971.0,1910.0,1971.0
4,BEAVER LAKE,BRITISH COLUMBIA,1010774,18,NaN,NaN,48.50,-123.35,483000000,-1232100000,61.0,1894,1952,NaN,NaN,1894.0,1952.0,1894.0,1952.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8761,WEST ST MODESTE,NEWFOUNDLAND,8504216,6803,NaN,NaN,51.60,-56.70,513600000,-564200000,12.2,1990,2002,NaN,NaN,1990.0,2002.0,1990.0,2002.0
8762,WEST ST MODESTE,NEWFOUNDLAND,8504217,6804,NaN,NaN,51.58,-56.72,513500000,-564300000,15.2,1984,1987,NaN,NaN,1984.0,1987.0,1984.0,1987.0
8763,CHURCHILL FALLS,NEWFOUNDLAND,850A131,6940,NaN,NaN,53.53,-63.97,533200000,-635800000,488.5,1993,1998,NaN,NaN,1993.0,1998.0,1993.0,1998.0
8764,MAKKOVIK (AUT),NEWFOUNDLAND,850B5HR,9025,NaN,NaN,55.08,-59.17,550500000,-591000000,71.3,1985,1986,1985.0,1986.0,NaN,NaN,NaN,NaN
8765,MARY'S HARBOUR,NEWFOUNDLAND,850B5R1,10227,71339.0,YMH,52.30,-55.83,521813000,-554957000,11.6,1992,2014,1994.0,2014.0,1992.0,2013.0,2005.0,2007.0

In [11]:
# longitude is -79 - -79.6 and latitude is 44-43
df_latitude_longitude = df_stations.loc[(df_stations["Latitude (Decimal Degrees)"] <= 44) &
                                        (df_stations["Latitude (Decimal Degrees)"] >= 43.5) &
                                        (df_stations["Longitude (Decimal Degrees)"] >= -79.6) &
                                        (df_stations["Longitude (Decimal Degrees)"] <= -79)
                                       ]
df_latitude_longitude

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
6289,AURORA,ONTARIO,6150395,4855,NaN,NaN,43.95,-79.40,435700000,-792400000,270.1,1883,1919,NaN,NaN,1883.0,1919.0,1883.0,1919.0
6291,AURORA PAYMENT,ONTARIO,6150397,4857,NaN,NaN,43.98,-79.47,435900000,-792800000,281.9,1971,1975,NaN,NaN,1971.0,1975.0,1971.0,1975.0
6315,BRODDYTOWN,ONTARIO,6150997,4879,NaN,NaN,43.62,-79.60,433700000,-793600000,144.8,1951,1956,NaN,NaN,1951.0,1956.0,1951.0,1956.0
6317,BROUGHAM,ONTARIO,6151000,4880,NaN,NaN,43.92,-79.12,435500000,-790700000,198.1,1965,1975,NaN,NaN,1965.0,1975.0,1965.0,1975.0
6326,BURNHAMTHORPE,ONTARIO,6151065,4888,NaN,NaN,43.62,-79.60,433700000,-793600000,144.8,1951,1955,NaN,NaN,1951.0,1955.0,1951.0,1955.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6662,TORONTO TORBARRIE,ONTARIO,615H779,4842,NaN,NaN,43.73,-79.52,434400000,-793100000,139.9,1983,1984,NaN,NaN,1983.0,1984.0,1983.0,1984.0
6663,TORONTO YORK MILLS,ONTARIO,615HHDF,4840,NaN,NaN,43.75,-79.38,434500000,-792300000,153.3,1973,1987,NaN,NaN,1973.0,1987.0,1973.0,1987.0
6664,TORONTO BUTTONVILLE A,ONTARIO,615HMAK,4841,71639.0,YKZ,43.86,-79.37,435144000,-792212000,198.1,1986,2015,1986.0,2015.0,1986.0,2015.0,1986.0,2015.0
6665,BRUCES MILL,ONTARIO,615J02G,4843,NaN,NaN,44.00,-79.33,440000000,-792000000,358.1,1968,1974,NaN,NaN,1968.0,1974.0,1969.0,1974.0
6671,TORONTO NORTH YORK,ONTARIO,615S001,26953,NaN,NaN,43.78,-79.47,434648072,-792804038,187.0,1994,2020,NaN,NaN,1994.0,2020.0,1994.0,2006.0

In [12]:
# select all Toronto weather stations
df_toronto_stations = df_latitude_longitude.loc[(df_latitude_longitude["Name"].str.lower().str.contains("toronto", regex=False)) & 
           (df_latitude_longitude["Province"].str.lower().str.contains("ontario", regex=False))]
df_toronto_stations

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
6478,PA TORONTO NORTH YORK MOTORS,ONTARIO,6156168,52678,NaN,L1D,43.72,-79.47,434307100,-792807400,186.5,2014,2015,2014.0,2015.0,NaN,NaN,NaN,NaN
6482,PA SCARBOROUGH TORONTO HUNT,ONTARIO,6156172,52641,NaN,L2A,43.68,-79.27,434100000,-791614900,133.5,2014,2015,2014.0,2015.0,NaN,NaN,NaN,NaN
6485,PA TORONTO HYUNDAI,ONTARIO,6156177,52640,NaN,L1C,43.70,-79.45,434156200,-792705700,186.5,2014,2015,2014.0,2015.0,NaN,NaN,NaN,NaN
6544,TORONTO,ONTARIO,6158350,5051,71266.0,NaN,43.67,-79.40,434000000,-792400000,112.5,1840,2017,1953.0,1969.0,1840.0,2017.0,1840.0,2006.0
6545,TORONTO SOLAR RADIATION,ONTARIO,6158352,41863,71626.0,TRF,43.67,-79.40,434000000,-792400000,166.0,2018,2018,NaN,NaN,2018.0,2018.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6637,TORONTO CASTLEMERE,ONTARIO,6158M1K,5040,NaN,NaN,43.78,-79.32,434700000,-791900000,184.4,1971,1980,NaN,NaN,1971.0,1980.0,1971.0,1980.0
6662,TORONTO TORBARRIE,ONTARIO,615H779,4842,NaN,NaN,43.73,-79.52,434400000,-793100000,139.9,1983,1984,NaN,NaN,1983.0,1984.0,1983.0,1984.0
6663,TORONTO YORK MILLS,ONTARIO,615HHDF,4840,NaN,NaN,43.75,-79.38,434500000,-792300000,153.3,1973,1987,NaN,NaN,1973.0,1987.0,1973.0,1987.0
6664,TORONTO BUTTONVILLE A,ONTARIO,615HMAK,4841,71639.0,YKZ,43.86,-79.37,435144000,-792212000,198.1,1986,2015,1986.0,2015.0,1986.0,2015.0,1986.0,2015.0
6671,TORONTO NORTH YORK,ONTARIO,615S001,26953,NaN,NaN,43.78,-79.47,434648072,-792804038,187.0,1994,2020,NaN,NaN,1994.0,2020.0,1994.0,2006.0

In [13]:
# make sure the weather stations contains dates from <2010 to >2020
df_year_stations = df_toronto_stations.loc[(df_toronto_stations["First Year"] <= 2010) &
                                          (df_toronto_stations["Last Year"] >= 2020)]
df_year_stations

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
6546,TORONTO CITY,ONTARIO,6158355,31688,71508.0,XTO,43.67,-79.40,434000000,-792400000,112.5,2002,2020,2002.0,2020.0,2002.0,2020.0,2003.0,2006.0
6547,TORONTO CITY CENTRE,ONTARIO,6158359,48549,71265.0,YTZ,43.63,-79.40,433739000,-792346000,76.8,2009,2020,2009.0,2020.0,2010.0,2020.0,NaN,NaN
6671,TORONTO NORTH YORK,ONTARIO,615S001,26953,NaN,NaN,43.78,-79.47,434648072,-792804038,187.0,1994,2020,NaN,NaN,1994.0,2020.0,1994.0,2006.0

In [14]:
# lets create a list of tuples
years = list(range(2010, 2021))
station_name_array = df_year_stations["Name"].values
station_id_array = df_year_stations["Station ID"].values
station_years = [(station_name_array[index], x, y) for index, x in enumerate(station_id_array) for y in years]

In [15]:
# this is how we will index for the different station and years
station_years[0]
station_years[1:11]

[('TORONTO CITY', 31688, 2011),
 ('TORONTO CITY', 31688, 2012),
 ('TORONTO CITY', 31688, 2013),
 ('TORONTO CITY', 31688, 2014),
 ('TORONTO CITY', 31688, 2015),
 ('TORONTO CITY', 31688, 2016),
 ('TORONTO CITY', 31688, 2017),
 ('TORONTO CITY', 31688, 2018),
 ('TORONTO CITY', 31688, 2019),
 ('TORONTO CITY', 31688, 2020)]

In [16]:
station_years[11]
station_years[12:22]

[('TORONTO CITY CENTRE', 48549, 2011),
 ('TORONTO CITY CENTRE', 48549, 2012),
 ('TORONTO CITY CENTRE', 48549, 2013),
 ('TORONTO CITY CENTRE', 48549, 2014),
 ('TORONTO CITY CENTRE', 48549, 2015),
 ('TORONTO CITY CENTRE', 48549, 2016),
 ('TORONTO CITY CENTRE', 48549, 2017),
 ('TORONTO CITY CENTRE', 48549, 2018),
 ('TORONTO CITY CENTRE', 48549, 2019),
 ('TORONTO CITY CENTRE', 48549, 2020)]

In [17]:
station_years[22]
station_years[23:]

[('TORONTO NORTH YORK', 26953, 2011),
 ('TORONTO NORTH YORK', 26953, 2012),
 ('TORONTO NORTH YORK', 26953, 2013),
 ('TORONTO NORTH YORK', 26953, 2014),
 ('TORONTO NORTH YORK', 26953, 2015),
 ('TORONTO NORTH YORK', 26953, 2016),
 ('TORONTO NORTH YORK', 26953, 2017),
 ('TORONTO NORTH YORK', 26953, 2018),
 ('TORONTO NORTH YORK', 26953, 2019),
 ('TORONTO NORTH YORK', 26953, 2020)]

In [18]:
# dict that stores all the dataframes
df_dict = {}

for name, a, b in station_years:

    # generated URL for Toronto Historical Weather Data
    URL = (f"http://climate.weather.gc.ca/climate_data/bulk_data_e.html?"+
           f"format=csv&stationID={a}&Year={b}&Month=1&Day=14&timeframe=2&submit= Download+Data")

    with requests.Session() as s:
        # download the file
        download = s.get(URL)
        # decode it to utf-8 format
        decode = download.content.decode("utf-8")

        # file path is too long for windows so lets
        # just store it in a buffer
        with io.StringIO(decode) as f:
            # read it into a dataframe
            df = pd.read_csv(f)
            
    # a little delay not to arouse suscpicion
    time.sleep(0.02)
    
    # place dataframe in a dictionary
    df_dict[(name, a, b)] = df

In [19]:
# lets see if all the keys are present
df_dict.keys()

dict_keys([('TORONTO CITY', 31688, 2010), ('TORONTO CITY', 31688, 2011), ('TORONTO CITY', 31688, 2012), ('TORONTO CITY', 31688, 2013), ('TORONTO CITY', 31688, 2014), ('TORONTO CITY', 31688, 2015), ('TORONTO CITY', 31688, 2016), ('TORONTO CITY', 31688, 2017), ('TORONTO CITY', 31688, 2018), ('TORONTO CITY', 31688, 2019), ('TORONTO CITY', 31688, 2020), ('TORONTO CITY CENTRE', 48549, 2010), ('TORONTO CITY CENTRE', 48549, 2011), ('TORONTO CITY CENTRE', 48549, 2012), ('TORONTO CITY CENTRE', 48549, 2013), ('TORONTO CITY CENTRE', 48549, 2014), ('TORONTO CITY CENTRE', 48549, 2015), ('TORONTO CITY CENTRE', 48549, 2016), ('TORONTO CITY CENTRE', 48549, 2017), ('TORONTO CITY CENTRE', 48549, 2018), ('TORONTO CITY CENTRE', 48549, 2019), ('TORONTO CITY CENTRE', 48549, 2020), ('TORONTO NORTH YORK', 26953, 2010), ('TORONTO NORTH YORK', 26953, 2011), ('TORONTO NORTH YORK', 26953, 2012), ('TORONTO NORTH YORK', 26953, 2013), ('TORONTO NORTH YORK', 26953, 2014), ('TORONTO NORTH YORK', 26953, 2015), ('TORONTO NORTH YORK', 26953, 2016), ('TORONTO NORTH YORK', 26953, 2017), ('TORONTO NORTH YORK', 26953, 2018), ('TORONTO NORTH YORK', 26953, 2019), ('TORONTO NORTH YORK', 26953, 2020)])

In [20]:
# toronto city station from 2010 - 2020
df_toronto_city = df_dict[station_years[0]]
df_toronto_city = df_toronto_city.append([df_dict[x] for x in station_years[1:11]])
df_toronto_city_path = os.path.join(file_path, "toronto_city_2010_2020.csv")
df_toronto_city.to_csv(df_toronto_city_path, index=False)

In [21]:
# city_centre station from 2010 - 2020
df_city_centre = df_dict[station_years[11]]
df_city_centre = df_city_centre.append([df_dict[x] for x in station_years[12:22]])
df_city_centre_path = os.path.join(file_path, "toronto_city_centre_2010_2020.csv")
df_city_centre.to_csv(df_city_centre_path, index=False)

In [22]:
# north york station from 2010 - 2020
df_north_york = df_dict[station_years[22]]
df_north_york = df_north_york.append([df_dict[x] for x in station_years[23:]])
df_north_york_path = os.path.join(file_path, "toronto_north_york_2010_2020.csv")
df_north_york.to_csv(df_north_york_path, index=False)

In [23]:
print(df_toronto_city.shape)
print(df_city_centre.shape)
print(df_north_york.shape)

(4018, 31)
(4018, 31)
(4018, 31)

In [24]:
# drop the following columns as they are mostly null for each of the 3 dataframes
df_toronto_city = df_toronto_city.drop(columns=['Longitude (x)', 'Latitude (y)',
                                'Station Name', 'Climate ID', 'Data Quality', 'Max Temp Flag',
                                'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag',
                                'Cool Deg Days Flag', 'Total Rain Flag', 'Total Snow Flag',
                                'Total Precip Flag', 'Snow on Grnd Flag', 
                                'Dir of Max Gust Flag', 'Spd of Max Gust Flag',
                                'Total Snow (cm)', 'Dir of Max Gust (10s deg)', 
                                'Spd of Max Gust (km/h)', 'Date/Time'
                                ])

df_city_centre = df_city_centre.drop(columns=['Longitude (x)', 'Latitude (y)',
                                'Station Name', 'Climate ID', 'Data Quality', 'Max Temp Flag',
                                'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag',
                                'Cool Deg Days Flag', 'Total Rain Flag', 'Total Snow Flag',
                                'Total Precip Flag', 'Snow on Grnd Flag', 
                                'Dir of Max Gust Flag', 'Spd of Max Gust Flag',
                                'Total Snow (cm)', 'Dir of Max Gust (10s deg)', 
                                'Spd of Max Gust (km/h)', 'Total Rain (mm)',
                                'Snow on Grnd (cm)', 'Date/Time'
                                ])

df_north_york = df_north_york.drop(columns=['Longitude (x)', 'Latitude (y)',
                                'Station Name', 'Climate ID', 'Data Quality', 'Max Temp Flag',
                                'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag',
                                'Cool Deg Days Flag', 'Total Rain Flag', 'Total Snow Flag',
                                'Total Precip Flag', 'Snow on Grnd Flag', 
                                'Dir of Max Gust Flag', 'Spd of Max Gust Flag',
                                'Total Snow (cm)', 'Dir of Max Gust (10s deg)', 
                                'Spd of Max Gust (km/h)', 'Date/Time'
                                ])

In [25]:
# for the Rain, Snow and precipitation columns set the np.nan values to 0
# makes logical sense that if there is no rain you would get a null value (or 0)
values = {
    'Total Rain (mm)': 0,
    'Total Precip (mm)':0,
    'Snow on Grnd (cm)':0,
        }

# do so for all 3 dataframes
df_toronto_city = df_toronto_city.fillna(value=values)
df_city_centre = df_city_centre.fillna(value=values)
df_north_york = df_north_york.fillna(value=values)

In [26]:
df_toronto_city.isnull().sum()

Year                    0
Month                   0
Day                     0
Max Temp (°C)         229
Min Temp (°C)         207
Mean Temp (°C)        238
Heat Deg Days (°C)    238
Cool Deg Days (°C)    238
Total Rain (mm)         0
Total Precip (mm)       0
Snow on Grnd (cm)       0
dtype: int64

In [27]:
df_city_centre.isnull().sum()

Year                    0
Month                   0
Day                     0
Max Temp (°C)         412
Min Temp (°C)         398
Mean Temp (°C)        419
Heat Deg Days (°C)    419
Cool Deg Days (°C)    419
Total Precip (mm)       0
dtype: int64

In [28]:
df_north_york.isnull().sum()

Year                    0
Month                   0
Day                     0
Max Temp (°C)         257
Min Temp (°C)         257
Mean Temp (°C)        257
Heat Deg Days (°C)    257
Cool Deg Days (°C)    257
Total Rain (mm)         0
Total Precip (mm)       0
Snow on Grnd (cm)       0
dtype: int64

In [29]:
# functions that will append the appropriate suffix to the dataframe
def suffix_x(value, suffix="_city"):
    if (value == "Year") or (value == "Month") or (value == "Day"):
        return value
    else:
        return value + suffix
    
def suffix_y(value, suffix="_centre"):
    if (value == "Year") or (value == "Month") or (value == "Day"):
        return value
    else:
        return value + suffix
    
def suffix_z(value, suffix="_york"):
    if (value == "Year") or (value == "Month") or (value == "Day"):
        return value
    else:
        return value + suffix
    
df_toronto_city.columns = df_toronto_city.columns.map(suffix_x)
df_city_centre.columns = df_city_centre.columns.map(suffix_y)
df_north_york.columns = df_north_york.columns.map(suffix_z)

In [30]:
# merge all 3 dataframes together on the year, month and day
df_total = df_toronto_city.merge(df_city_centre, how="inner", on=["Year", "Month", "Day"])
df_total = df_total.merge(df_north_york, how="inner", on=["Year", "Month", "Day"])

In [31]:
# create a Datetime column that denotes the year, month and day
df_total["Datetime"] = pd.to_datetime(dict(year=df_total["Year"], month=df_total["Month"],day=df_total["Day"]))

In [32]:
# get maximum and minimum and mean temperatures
df_total["MAX_TEMP"] = df_total.loc[:, ['Max Temp (°C)_city', 'Max Temp (°C)_centre', 'Max Temp (°C)_york']].max(axis=1)
df_total["MIN_TEMP"] = df_total.loc[:, ['Min Temp (°C)_city', 'Min Temp (°C)_centre', 'Min Temp (°C)_york']].min(axis=1)
df_total["MEAN_TEMP"] = df_total.loc[:, ['Mean Temp (°C)_city', 'Mean Temp (°C)_centre', 'Mean Temp (°C)_york']].mean(axis=1)

# heating degree day and cooling degree day (heating / cooling of buildings)
df_total["HDD"] = df_total.loc[:, ['Heat Deg Days (°C)_city', 'Heat Deg Days (°C)_centre', 'Heat Deg Days (°C)_york']].mean(axis=1)
df_total["CDD"] = df_total.loc[:, ['Cool Deg Days (°C)_city', 'Cool Deg Days (°C)_centre', 'Cool Deg Days (°C)_york']].mean(axis=1)

# total rain, total preciitation and snow on ground
df_total["RAIN_MM"] = df_total.loc[:, ['Total Rain (mm)_city', 'Total Rain (mm)_york']].mean(axis=1)
df_total["PRECIP_MM"] = df_total.loc[:, ['Total Precip (mm)_city', 'Total Precip (mm)_centre', 'Total Precip (mm)_york']].mean(axis=1)
df_total["SNOW_CM"] = df_total.loc[:, ['Snow on Grnd (cm)_city', 'Snow on Grnd (cm)_york']].mean(axis=1)

In [33]:
# drop the columns which I have aggregated
df_total = df_total.drop(columns=['Max Temp (°C)_city', 'Min Temp (°C)_city',
                               'Mean Temp (°C)_city', 'Heat Deg Days (°C)_city',
                               'Cool Deg Days (°C)_city', 'Total Rain (mm)_city',
                               'Total Precip (mm)_city', 'Snow on Grnd (cm)_city',
                               'Max Temp (°C)_centre', 'Min Temp (°C)_centre', 'Mean Temp (°C)_centre',
                               'Heat Deg Days (°C)_centre', 'Cool Deg Days (°C)_centre',
                               'Total Precip (mm)_centre', 'Max Temp (°C)_york', 'Min Temp (°C)_york',
                               'Mean Temp (°C)_york', 'Heat Deg Days (°C)_york',
                               'Cool Deg Days (°C)_york', 'Total Rain (mm)_york',
                               'Total Precip (mm)_york', 'Snow on Grnd (cm)_york',
                               'Year', 'Month', 'Day'
                                ])
df_total.head()

,Datetime,MAX_TEMP,MIN_TEMP,MEAN_TEMP,HDD,CDD,RAIN_MM,PRECIP_MM,SNOW_CM
0,2010-01-01,1.9,-9.9,-3.00,21.00,0.0,0.0,0.633333,0.0
1,2010-01-02,-9.7,-18.5,-14.05,32.05,0.0,0.0,0.333333,1.0
2,2010-01-03,-9.3,-17.0,-12.90,30.90,0.0,0.0,1.900000,1.0
3,2010-01-04,-6.7,-13.5,-9.85,27.85,0.0,0.0,0.266667,3.5
4,2010-01-05,-3.6,-12.5,-7.65,25.65,0.0,0.0,1.300000,4.5

In [34]:
df_total.isnull().sum()

Datetime       0
MAX_TEMP     175
MIN_TEMP     175
MEAN_TEMP    175
HDD          175
CDD          175
RAIN_MM        0
PRECIP_MM      0
SNOW_CM        0
dtype: int64

In [36]:
# lets round the numbers
df_total.loc[:, ['MAX_TEMP', 'MIN_TEMP', 'MEAN_TEMP', 'HDD', 'CDD', 'RAIN_MM', 'PRECIP_MM', 'SNOW_CM']] = (df_total
        .loc[:, ['MAX_TEMP', 'MIN_TEMP', 'MEAN_TEMP', 'HDD', 'CDD', 'RAIN_MM', 'PRECIP_MM', 'SNOW_CM']].round(2)
                                                                                                           )

In [37]:
# save the file to the toronto_weather folder
df_total_path = os.path.join(file_path, "average_toronto_weather_stations_2010_2020.csv")
df_total.to_csv(df_total_path, index=False)